!!!
doctype 5
html(lang="nl")
    head
        title= title
        link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/custom.css')
        
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

        script(type='text/javascript', src='/js/lib/bootstrap/js/bootstrap-modal.js')
        script(type='text/javascript', src='/js/index.js');

        body
        include topbar
        div.container
            div.content
                div.page-header
                    h1 Main Page 
                        small Welcome to #{title}
                div.row-fluid
                    div.span9
                        div.hero-unit
                            h2 Page Content
                            p Primary content of the blog goes here 
                    div.span3
                        div.well.sidebar-nav
                        h3 Secondary Content
            
                div.footer 
                    p &copy; nodeblox 2011
