doctype 5
html(lang="nl")
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="#") Devnology
          div.nav-collapse.collapse
            form.navbar-form.pull-right(method="post", id="loginForm")
              input.input-small(id="username", type="text", name="User", placeholder="Username")
              input.input-small(id="password", type="password", name="Password", placeholder="Password")
              input.btn(type="submit", value="Sign In")
            p#loginPrompt.pull-right.login-prompt

    div.container
      div.hero-unit
        block content